.comment-preview {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    column-gap: 10px;

    .comment-avatar-container {
        grid-column: 1;
        grid-row: 1/3;

    }

    .comment-details {
        gap: 7px;
        .comment-email {
            margin-bottom: 0;
        }

        .comment-txt {
            color: lighten($clr6 , 30%);
            grid-column: 2;
        }
    }
}